body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  @keyframes wiggle {
    0%, 100% { transform: rotate(-3deg); }
    50% { transform: rotate(3deg); }
}

.animate-wiggle {
    animation: wiggle 1s ease-in-out infinite;
}

@media (prefers-reduced-motion: reduce) {
    .animate-wiggle {
        animation: none;
    }
}

.swiper-slide {
    transition: transform 0.3s, filter 0.3s;
}

.swiper-slide.active-slide {
    transform: scale(1.1);
    filter: none;
    z-index: 10;
}

.swiper-slide.blurred-slide {
    transform: scale(0.9);
    filter: blur(1px) opacity(50%);
    z-index: 1;
}
